<template>
  <v-row class="d-flex flex-wrap pr-10">
    <v-col cols="4" v-for="(json, index) in currentTodoJson" :key="index">
      <v-card color="yellow">
        <v-card-title class="d-flex justify-space-between align-center">
          <p :class="{ 'text-decoration-line-through': json.checked }">
            {{ json.title }}
          </p>
          <v-card-actions>
            <v-btn icon>
              <v-icon icon="mdi-dots-horizontal"></v-icon>
              <v-menu
                activator="parent"
                location="bottom end"
                transition="fade-transition"
              >
                <v-list
                  density="compact"
                  min-width="250"
                  rounded="lg"
                  slim
                >
                  <v-list-item
                    title="Edit..."
                    value="edit"
                    @click="edit(index)"
                  ></v-list-item>

                  <v-divider class="my-2"></v-divider>

                  <v-list-item
                    title="Delete"
                    value="delete"
                    @click="deleteTodo(index)"
                  ></v-list-item>
                </v-list>
              </v-menu>
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text :class="{ 'text-decoration-line-through': json.checked }">
          {{ json.text }}
        </v-card-text>
        <v-card-text class="d-flex py-0">
          <v-col cols="8" class="py-0 d-flex align-center">
            <v-avatar v-for="tagsColor in json.tags" :color="tagsColor.color" class="mr-2"></v-avatar>
          </v-col>
          <v-col class="py-0 pr-6 d-flex align-center justify-end">
            <v-checkbox hide-details v-model="json.checked">Done</v-checkbox>
          </v-col>
        </v-card-text>
      </v-card>
    </v-col>
    <UpdateTodo
      v-model="showEditTodo"
      v-model:title-add="currentTodoJson[index].title"
      v-model:title-text="currentTodoJson[index].text"
      v-model:todo-json-pinia="index"
    ></UpdateTodo>
  </v-row>
</template>

<script setup lang="ts">
import { useAppStore } from '@/store/app'
import UpdateTodo from "@/components/UpdateTodo.vue";
import { ref, computed } from 'vue';

const store = useAppStore();
const currentTodoJson = computed(() => store.currentTodoJson)

function deleteTodo(index: number) {
  const todoDeleted = store.todoJsonSort[index]
  const todoIndex = store.todoJson.findIndex(item => item === todoDeleted);
  if (todoIndex > -1) {
    store.todoJsonSort.splice(index, 1);
    store.todoJson.splice(todoIndex, 1);
  } else {
    store.todoJson.splice(index, 1);
  }
}

const showEditTodo = ref<boolean>(false)
const index = ref<number>(0)

function edit(indexJson: number) {
  showEditTodo.value = true
  index.value = indexJson
}
</script>
