<template>
  <v-dialog
    v-model="showCreateTodo"
    max-width="50%"
  >
    <v-card class="py-10 px-5" rounded="xl">
      <v-card-title class="d-flex justify-lg-space-between">
        <v-btn @click="showCreateTodo = false" variant="text" class="text-none">
          Cancel
        </v-btn>
        <v-btn @click="addTodo" color="grey" rounded="lg" class="text-none" variant="flat" height="45px" width="150px" type="submit" >
          Add
        </v-btn>
      </v-card-title>
      <v-card-text>
        <p class="font-weight-medium text-h6">
          Title
        </p>
        <v-text-field
          v-model="titleAdd"
          placeholder="add a title ..."
          hide-details
          required
          variant="solo-filled"
          class="pt-2 pb-6"
        ></v-text-field>
        <p class="font-weight-medium text-h6">
          Description
        </p>
        <v-textarea
          v-model="titleText"
          placeholder="add a description ..."
          rows="4"
          variant="solo-filled"
          class="pt-2 pb-6"
        ></v-textarea>
        <p class="font-weight-medium text-h6">
          Tags
        </p>
        <v-col cols="7">
          <v-item-group selected-class="bg-greyLighten" multiple class="d-flex justify-space-between">
            <v-item
              v-for="tags in TagsJson"
              v-slot="{ selectedClass, toggle }"
              :key="tags.name"
            >
              <v-card
                cols="2"
                :class="selectedClass"
                @click="toggle(); handleCardClick(tags)"
                variant="flat"
                rounded="lg"
                class="pa-2"
              >
                <v-avatar :color="tags.color" size="small"></v-avatar>
                {{tags.name}}
              </v-card>
            </v-item>
          </v-item-group>
        </v-col>
      </v-card-text>
    </v-card>

  </v-dialog>

</template>

<script setup lang="ts">
import TagsJson from "@/utils/tags.json";
import {Ref, ref, defineModel} from "vue";
import { useAppStore } from "@/store/app";

const store = useAppStore();
const todoJsonPinia = store.todoJson

interface Tag {
  name: string;
  color: string;
}

interface DataTodo {
  title: string;
  text: string;
  tags: Tag[];
  checked: boolean;
}

const showCreateTodo = defineModel({ required: true })
let titleAdd: string = defineModel('titleAdd')
let titleText: string = defineModel('titleText')
const indexTodoJsonPinia = defineModel<number>('todoJsonPinia');
const selectedTags: Ref<Tag[]> = ref([]);

function handleCardClick(tags: Tag) {
  const index = selectedTags.value.findIndex(tag => tag.name === tags.name);
  if (index === -1) {
    selectedTags.value.push(tags);
  } else {
    selectedTags.value.splice(index, 1);
  }
}

function addTodo() {
  let dataPushInTodo: DataTodo = {
    title: titleAdd,
    text: titleText,
    tags: [
      ...selectedTags.value
    ],
    checked: false
  }
  if (indexTodoJsonPinia.value === undefined) {
    todoJsonPinia.push(dataPushInTodo)
    selectedTags.value = []
  } else {
    dataPushInTodo = todoJsonPinia[indexTodoJsonPinia.value]
    console.log(dataPushInTodo)
  }
  showCreateTodo.value = false
  titleAdd = ""
  titleText = ""
}
</script>
