<template>
  <v-app-bar flat class="d-flex justify-space-around pt-2">
      <v-btn class="text-h3 font-weight-medium pl-8" variant="plain" @click="allTodo">
        todo
      </v-btn>
    <v-col class="d-flex justify-end pr-10">
      <v-btn variant="text" class="text-h4" icon="mdi-plus" size="x-large" @click="toggleDialog"></v-btn>
    </v-col>
    <div class="text-center pa-4">
      <UpdateTodo
        v-model="showCreateTodo"
        v-model:title-add="titleAdd"
        v-model:title-text="titleText"
      ></UpdateTodo>
    </div>
  </v-app-bar>
</template>

<script setup lang="ts">
import {useAppStore} from '@/store/app'
import UpdateTodo from "@/components/UpdateTodo.vue";
import {ref} from "vue";

const store = useAppStore();

const titleAdd = ref('')
const titleText = ref('')

const showCreateTodo = ref<boolean>(false)

function toggleDialog() {
  showCreateTodo.value = true
}

function allTodo() {
  store.updateTodoJsonSort(store.todoJson)
}

</script>
