<template>
  <AppBar/>
  <LeftBar/>
  <v-main>
    <router-view/>
  </v-main>
</template>

<script setup lang="ts">
import AppBar from "@/layouts/AppBar.vue";
import LeftBar from "@/layouts/LeftBar.vue";

</script>
