<template>
  <v-navigation-drawer
    floating
    permanent
    width="250"
  >
    <v-list
      nav
      class="d-flex flex-column"
    >
      <v-list-item v-for="tags in tagsJson" :title="tags.name" :value="tags.name" :key="tags.name" @click="sortTask(tags.color)">
        <template v-slot:prepend>
          <v-avatar :color="tags.color" size="small" class="ml-10"></v-avatar>
        </template>
      </v-list-item>
      <v-list-item title="Hide done tasks" value="tasksDone" @click="toggleTasksDone" >
        <template v-slot:prepend>
          <v-icon icon="mdi-check"  class="ml-10"></v-icon>
        </template>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script setup lang="ts">
import { useAppStore } from '@/store/app'
import tagsJson from '@/utils/tags.json'

const store = useAppStore();

function sortTask(sortData: any) {
  store.updateTodoJsonSort(
    store.todoJson
      .filter(item => item.tags.some(tag => tag.color === sortData))
  );
}

function toggleTasksDone() {
    store.updateTodoJsonSort(store.todoJson.filter(item => !item.checked))
}
</script>
